# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage
/public/_cucumber-results.json
/public/_reporter_settings.json

# production
#this is where react-scripts compile stuff, and where the development server runs from
/build
#this is what gets published
/dist
#this is generated for testing reporter.generate() function with some sample cucumber json
/test
#this is /build, but with files renamed: react-scripts generates a bunch of randomized file names which is a bit of a pain to include with dist, so we "normalize" all the file names with a rename script.
/react

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

public/cucumber-results.json
public/packaging
yarn.lock
package-lock.json
dev/mock
dev/dev

#python

__pycache__
.venv
*.egg-info
dev/qa-jat-heimdall-Feb_13th_2026_14-58-27/